.heading {
  display: flex;
  justify-content: space-around;
  background-color: rgb(43, 119, 226);
  align-items: center;
  height: 70px;

  img {
    width: 50px;
    height: 50px;
  }

  h1 {
    padding: 20px;
    text-align: center;
    margin: 0;
    margin-left: 100px;
    margin-right: 100px;
    color: white;
  }
}

@media screen and (max-width: 768px) {
  .heading {
    img {
      display: none;
    }

     h1 {
      padding: 20px;
      text-align: center;
      margin: 0;
      margin-left: 0px;
      margin-right: 0px;
      color: white;
      font-size: 1.5em;
      width: 100%;
    }
  }
}